<!DOCTYPE html>
<html lang="en">
  <meta>
    <meta charset="UTF-8">
    <meta name="author" content="2017, Doron Goldfarb, doron.goldfarb@umweltbundesamt.at">
    <title>Semantic lookup service</title>
  </meta>

<head>
<!-- Add this to <head> -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/custom.css"> 
<link rel="stylesheet" type="text/css" href="/static/css/app.css"> 
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" src="/static/js/authomatic.js"></script>
</head>
<body>
	<script type="text/javascript">(( popup_js | safe ))</script>

        <div id="repo-list-example">
	<div class="headDiv" align="right" v-cloak>
		<ul class="small-block-grid-6">
			<li class="small">
				<a href="https://www.eudat.eu/"> <img src="/static/img/eudat_logo.png"/></a>
			</li>
			<li class="headTitle">Semantic lookup service</li>
			<li/>
			<li v-if='!jwt'>
				<a class="authomatic provider-button google" href="login/google">
					<span>Login with Google</span><img src="/static/img/icons/google.ico"/>
				</a>
			</li>
			<li v-if='!jwt'>
				<a class="authomatic provider-button github" href="login/github">
					<span>Login with GitHub</span><img src="/static/img/icons/github.ico"/>
				</a>
			</li>
			<li v-if='!jwt'>
				<a class="authomatic provider-button linkedin" href="login/linkedin">
					<span>Login with LinkedIn</span><img src="/static/img/icons/linkedin.ico"/>
				</a>
			</li>
			<li v-if='jwt' class="logInfo"><a>Logged in:</a></li>
			<li v-if='jwt' class="logInfo"><a>{{ user }} / {{ provider }}</a></li>
			<li v-if='jwt'>
				<a class="authomatic provider-button github" v-on:click='triggerLogout();'>
					<span>Logout</span><img src=""/>
				</a>
			</li>
		</ul>
	</div>
	<div>
		<div class="explain" v-if='!jwt'>Log in to register or manage your ontology repository.</div>
		<button class="addButton" v-if='jwt' v-on:click='triggerAdd()' v-cloak>Add new repo</button>
	</div>
	<div id="table-wrapper" v-cloak>
		<div id="table-scroll">
		  <table>
		  <thead style="border-bottom: 2px #DDDDDD solid">
			<tr>
				<th><span>Name</span></th>
				<th><span>Url</span></th>
				<th><span>Description</span></th>
				<th><span v-if='jwt'>Edit</span></th>
				<th><span v-if='jwt'>Delete</span></th>
			</tr>
		   </thead>
		    <tbody>
		    <tr
		      is="repo-item"
		      v-for="(repo, index) in repos"
		      v-bind:key="repo.id"
		      v-bind:title="repo.title"
		      v-bind:url="repo.url"
		      v-bind:desc="repo.desc"
		      v-bind:api_url="repo.api_url"
		      v-bind:api_doc_url="repo.api_doc_url"
		      v-bind:api_type="repo.api_type"
		      v-bind:api_version="repo.api_version"
		      v-bind:techno="repo.techno"
		      v-bind:vocab_types="repo.vocab_types"
		      v-bind:domain="repo.domain"
		      v-bind:comment="repo.comment"
		      v-bind:contact="repo.contact"
			  v-bind:onto_acr="repo.onto_acr"
			  v-bind:onto_name="repo.onto_name"
			  v-bind:onto_uri="repo.onto_uri"
			  v-bind:onto_internal_uri="repo.onto_internal_uri"
			  v-bind:onto_version="repo.onto_version"
			  v-bind:onto_vdate="repo.onto_vdate"
			  v-bind:onto_domain="repo.onto_domain"
			  v-bind:class_label="repo.class_label"
			  v-bind:class_uri="repo.class_uri"
			  v-bind:class_desc="repo.class_desc"
			  v-bind:class_shortform="repo.class_shortform"
			  v-bind:class_synonyms="repo.class_synonyms"
			  v-bind:class_ontos="repo.class_onto"
		      v-bind:owner="repo.owner"
		      v-on:remove="triggerDelete(index)"
		      v-on:edit="triggerEdit(index)"
		    ></tr>
		    </tbody>
		  </table>
		</div>
	</div>

  		<modal :message="curRep" :first="firstForm" :add="showAdd" v-if="showModal"
			@close="showModal = false, firstForm = true"
			@addrepo="addNewRepo"
			@changerepo="changeExistingRepo"
			@first="firstForm = true"
			@second="firstForm = false"
		>
  		</modal>

  		<confirmmodal :message="curRep" v-if="showConfirmModal" 
			@close="showConfirmModal = false"
			@deleterepo="triggerDeleteConfirmed"
		>
  		</confirmmodal>

        </div>
	
	<style>
		[v-cloak] {
			display: none;
		}
	</style>

	 <script src="static/dist/build.js"></script>


	<script type="text/javascript">
	authomatic.setup({
		"backend:" : "login/",
		"onLoginComplete" :  	function(result) {
						window.Vue.jwt=result.jwt;
						window.Vue.user=result.user;
						window.Vue.provider=result.provider;  
						var headerdata={};
                        			if (window.Vue.jwt)
                                 			headerdata = { Authorization : "Bearer " + window.Vue.jwt };
						window.Vue.axiosInstance.post("getRepoList",
							{},
							{ headers: headerdata }
							)
                        				.then( response => {
                                				window.Vue.repos = response.data;
                                				console.log(response);
                        				})
						.catch(function(error) {console.log(error)});
					},
		"onPopupOpen" 	:  	function(result) { console.log("popopen " + result); }
	});
         authomatic.popupInit();
	 console.log("INITIALIZED");
      	</script>

  </body>
</html>




